## 17.1.18 - Data structures exercises (Tuples, dicts & sets)

### 1.3.2.  Exercise 1

In [14]:
dict_letter_word={"L": ["levis", "lee cooper", "lord kitch"],
                 "M": ["mango", "maya", "mehamemet"],
                 "Z": ["zara", "zebra", "zehava"]}
print (dict_letter_word)

dict_letter_word["L"].append("lori")
dict_letter_word["M"].append("moti")
dict_letter_word["Z"].append("zina")
print (dict_letter_word)

{'L': ['levis', 'lee cooper', 'lord kitch'], 'M': ['mango', 'maya', 'mehamemet'], 'Z': ['zara', 'zebra', 'zehava']}
{'L': ['levis', 'lee cooper', 'lord kitch', 'lori'], 'M': ['mango', 'maya', 'mehamemet', 'moti'], 'Z': ['zara', 'zebra', 'zehava', 'zina']}

In [16]:
dict_letter_word.update({"N":["naya", "nivea"]})
print(dict_letter_word)

{'L': ['levis', 'lee cooper', 'lord kitch', 'lori'], 'M': ['mango', 'maya', 'mehamemet', 'moti'], 'Z': ['zara', 'zebra', 'zehava', 'zina'], 'N': ['naya', 'nivea']}

In [17]:
dict_letter_word.pop("Z")
print(dict_letter_word)

{'L': ['levis', 'lee cooper', 'lord kitch', 'lori'], 'M': ['mango', 'maya', 'mehamemet', 'moti'], 'N': ['naya', 'nivea']}

In [18]:
print(dict_letter_word.values())

dict_values([['levis', 'lee cooper', 'lord kitch', 'lori'], ['mango', 'maya', 'mehamemet', 'moti'], ['naya', 'nivea']])

### 1.3.3 Exercise 2

In [22]:
Spain_cities=["Madrid", "Toledo"]
France_cities=['Lion', 'Paris']
Egypt_cities=['Cairo', 'Alexandria']
Morocco_cities=['Rabat', 'Casablanca']

Europe={"Spain": Spain_cities, "France": France_cities}
Africa={'Egypt': Egypt_cities, "Morocco": Morocco_cities}

print(Europe)
print(Africa)

{'Spain': ['Madrid', 'Toledo'], 'France': ['Lion', 'Paris']}
{'Egypt': ['Cairo', 'Alexandria'], 'Morocco': ['Rabat', 'Casablanca']}

In [24]:
world_dict={"Europe": Europe, "Africa": Africa}
print(world_dict)

{'Europe': {'Spain': ['Madrid', 'Toledo'], 'France': ['Lion', 'Paris']}, 'Africa': {'Egypt': ['Cairo', 'Alexandria'], 'Morocco': ['Rabat', 'Casablanca']}}

## ______________________________________________________________

## Set Exercises

### 1.4.3. Exe 1.

In [30]:
str1="hapoel"
str2="macabi"
str_full=str1+str2
set_str_full=set(str_full)

print (len(str_full))
print (len(set_str_full))

12
10

### 1.4.4. Exe 2.

In [31]:
# sub exe 1

sunday_visitors=['abe', 'bob', 'carl', 'dave', 'ed', 'heinrich', 'isabel', 'abe', 'fred']
monday_visitors=['abe', 'gale', 'ed', 'fred']
tuesday_visitors=['ed', 'bob', 'jack', 'fred', 'abe', 'abe', 'jack', 'kent', 'gale']
all_visitors=sunday_visitors+monday_visitors+tuesday_visitors

set_sunday_visitors=set(sunday_visitors)
set_monday_visitors=set(monday_visitors)
set_tuesday_visitors=set(tuesday_visitors)
set_all_visitors=set(all_visitors)

print(set_sunday_visitors)
print(set_monday_visitors)
print(set_tuesday_visitors)
print(set_all_visitors)

{'carl', 'fred', 'abe', 'dave', 'heinrich', 'ed', 'isabel', 'bob'}
{'ed', 'abe', 'fred', 'gale'}
{'jack', 'fred', 'abe', 'kent', 'gale', 'ed', 'bob'}
{'carl', 'fred', 'jack', 'abe', 'dave', 'kent', 'heinrich', 'gale', 'ed', 'isabel', 'bob'}

In [38]:
# sub exe 2

set_sunday_visitors < (set_monday_visitors | set_tuesday_visitors)

False

In [39]:
set_monday_visitors < (set_sunday_visitors | set_tuesday_visitors)

True

In [40]:
set_tuesday_visitors < (set_monday_visitors | set_sunday_visitors)

False

In [41]:
# yes, all monday visitors had also visited on another day

In [44]:


# sub exe 3

# visitors that visited the museum on more than a single day

print (set_sunday_visitors & set_monday_visitors)
print (set_sunday_visitors & set_tuesday_visitors)
print (set_monday_visitors & set_tuesday_visitors)

{'ed', 'abe', 'fred'}
{'ed', 'abe', 'fred', 'bob'}
{'ed', 'abe', 'fred', 'gale'}

In [49]:
# visited every day

print (set_sunday_visitors & set_monday_visitors & set_tuesday_visitors)

{'ed', 'abe', 'fred'}

In [57]:
# sub exe 4

# visited only on tuesday

print(set_tuesday_visitors - (set_sunday_visitors | set_monday_visitors))

{'kent', 'jack'}

In [64]:
# sub exe 5

# visited exactly one of the days sunday and monday - I'm not sure i understood the question ...

print((set_sunday_visitors - (set_monday_visitors | set_tuesday_visitors)) |
      (set_monday_visitors - (set_sunday_visitors | set_tuesday_visitors)))

{'dave', 'carl', 'heinrich', 'isabel'}